{% extends '../sitetemplate/header_footer.html' %}
{% load crispy_forms_tags %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="moviesite__form">
                    <div class="section-title">
                        <h1>Đã gửi email thiết lập lại mật khẩu</h1>
                    </div>
                    <p>Chúng tôi đã gửi email hướng dẫn bạn cách thiết lập lại mật khẩu.
                        Nếu có tài khoản tương ứng email bạn vừa nhập, bạn sẽ nhận đuợc email này
                        <br>
                        Nếu bạn không nhận đươc email, hãy kiểm tra xem bạn có nhập email đúng không,
                        và kiểm tra hộp thư rác.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}