{% extends '../sitetemplate/header_footer.html' %}
{% load crispy_forms_tags %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <h2 class="font-weight-bold mt-3">Đặt lại mật khẩu cho tài khoản của bạn</h2>
                <hr>
                <p>Hãy nhập mật khẩu mới của bạn.</p>
                <div class="moviesite__form">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="main-button">
                            <button type="submit">Đặt lại mật khẩu</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}