{% extends '../sitetemplate/header_footer.html' %}
{% load crispy_forms_tags %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="moviesite__form">
                    <div class="section-title">
                        <h1>Khởi động lại mật khẩu</h1>
                    </div>
                    <hr>
                    <p>Nhập email tương ứng với tài khoản mà bạn muốn khởi động mật khẩu, chúng tôi sẽ gửi email hướng dẫn
                        cách thiết lập.</p>
                    <form method="post">
                        {% csrf_token %}
                        {{ password_reset_form|crispy }}
                        <div class="main-button">
                            <button type="submit">Gửi link qua email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}