{% autoescape off %}
<h2>Xin chào từ website Bình Luận Phim,</h2>

<p>Chúng tôi nhận được yêu cầu thiết lập lại mât khẩu cho tài khoản của bạn theo địa chỉ email này.</p>
<p>Để kích hoạt quá trình thiết lập lại mật khâ cho tài khoản của bạn, click vào link dưới đây</p>

<a href = "{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Link</a>

<p>Đường link này chỉ dùng được 1 lần. Nếu bạn cần khởi động lại mật khẩu mình lần nữa,
    hãy truy cập <a href = "{{ protocol }}://{{domain}}{% url 'password_reset' %}">đường link này</a></p>

Nếu bạn không thực hiện yêu cầu trên, xin hãy bỏ qua email này

Trân trọng
Đội ngũ website Bình Luận Phim


{% endautoescape %}