{% extends '../sitetemplate/header_footer.html' %}
{% load crispy_forms_tags %}
{% block 'body' %}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <div class="moviesite__form">
                    <div class="section-title">
                        <h1>Đặt lại mật khẩu mới thành công</h1>
                    </div>

                    <p>Mật khẩu của bạn đã được thiết lập. Bạn có thể đăng nhập lại bằng mật khẩu mới</p>
                    <a href="{% url 'movies:login' %}" class="btn btn-success">Đi đến trang Đăng nhập</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}